body{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif
}
.navbar{
	margin-bottom: 0;
}
.backblue{
	background-color: #34495e;
	color: whitesmoke;
	padding-top: 100px;
	border-bottom: 3px solid gray;
	text-align: center;
}

h1{
	font-size: 5em;
}
.backblue img{
	box-sizing: border-box;
}

.design .phone{
	padding-left: 80px;
	box-sizing: border-box;
}

.whatsnew{
	padding-bottom: 50px;
}

.whatsnew p{
	padding-right: 50px;
}
.skyblue{
	color: #02c09c;
}
hr{
	width: 90%;
}

.backblue2{
	background-color: #34495e;
	padding-top: 100px;
	padding-bottom: 100px;
	color: whitesmoke;
}

.laptop{
	box-sizing: border-box;
}
footer{
	background-color: #2f2f2f;
	color: whitesmoke;
	padding: 70px 100px;
}

footer .btn{
	background-color: #5cb55f;
	border: 0;
}
.fin{
	padding: 20px;
	background-color: #191818;
	color: whitesmoke;
}

.fin a{
	color: #218077;
}